repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.3
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies:
          - typer>=0.13.0
          - rich>=13.9.0
          - types-requests
        args: [--ignore-missing-imports]
        pass_filenames: false
        entry: mypy asa_api_cli
